
<header class="navbar flex-column flex-md-row bd-navbar border-bottom py-3">
    <h3><%= link_to "Cocktails logger", cocktails_path %></h3>
  <ul class="inline my-0">
    <%= link_to new_cocktail_path do %>
      <li class="btn btn-secondary">Add new cocktail</li>
    <% end %>
  </ul>
</header>
