.cocktail-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  a {
    color: grey;

    &:hover {
      color: black;
    }
  }

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
}

.cocktail-card>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.cocktail-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cocktail-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.cocktail-card .cocktail-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

